* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin: 0;
    padding:.8em;
    text-decoration: none;
    list-style-type: none;
    border: 0;
    
}

body{
    overflow-x: hidden;
}

#particles canvas {
    position: absolute;
    width:90%;
    height: 200%;
    z-index: -5;
  }

h1,h2 {font-size: 2em;}

h1,
h2,
h3,
h4,
h5,
nav h1,
nav h4,
nav,
nav a, nav p, nav p, a{
    font-family: 'Gruppo', cursive;
    text-align: center;
}

nav{
    top:0;
}


nav,
footer {
    display: flex;
    justify-content: space-around;
    background: white;
    width: 100%;
    background: #606c88;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #3f4c6b, #606c88);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #3f4c6b, #606c88);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

nav *, footer *{color:white;}

.glass{
    background: #4CA1AF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    opacity: 0.78;
    z-index: -1;
    margin:3% 0 0 0;

}

.shadow {
    -webkit-box-shadow: -5px 5px 13px 0px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: -5px 5px 13px 0px rgba(0, 0, 0, 0.67);
    box-shadow: -5px 5px 13px 0px rgba(0, 0, 0, 0.67);
    z-index: 2;
}

a:hover {
    text-decoration: underline;
    color:#f26300;
}

#CV {
    width: 595px;
    height: 842px;
    margin:0 30% 0 30%;
}

#CVmobile{
    display: none;
}

@media only screen and (max-width: 500px) {

    *{
        font-size: 14px;
    }
    nav,
    footer {
        flex-direction: column;
    }

    #CV, #download{
    display: none;
    }

    #CVmobile{
        display: block;
    }

}